* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
  color: var(--text-primary);
}
 .container {
  max-width: 1440px;
  margin: 0 auto;
 }

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

